enunciado_tarea_xsd/a20_infoUbicaciones.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ubicaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ubicacion" type="direccion" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="direccion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N" />
      <xs:enumeration value="S" />
      <xs:enumeration value="E" />
      <xs:enumeration value="O" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>